<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.quantimodo.sync"
    android:versionCode="112"
    android:versionName="1.1.2">

    <uses-sdk
        android:minSdkVersion="14"
        android:targetSdkVersion="19" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.USE_CREDENTIALS" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_SYNC_SETTINGS" />
    <uses-permission android:name="android.permission.READ_SYNC_SETTINGS" />

    <application
        android:name=".QApp"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/Default">

        <activity
            android:name=".MainActivity"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".SettingsActivity"
            android:theme="@style/Default.WhiteBg"
            android:label="@string/title_preferences"
            android:parentActivityName=".MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MainActivity" />
        </activity>

        <activity
            android:name=".HistoryActivity"
            android:label="@string/title_history"
            android:parentActivityName=".MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MainActivity" />
        </activity>

        <activity android:name=".activities.QuantimodoWebAuthenticatorActivity"/>

        <activity
            android:name=".WelcomeActivity"
            android:label="Welcome"
            android:theme="@style/Default.Dialog" />

        <service
            android:name=".sync.AppDataSyncService"
            android:exported="true"
            android:process=":sync">
            <intent-filter>
                <action android:name="android.content.SyncAdapter" />
            </intent-filter>
            <meta-data
                android:name="android.content.SyncAdapter"
                android:resource="@xml/syncadapter_appdata" />
        </service>

        <provider
            android:name="com.quantimodo.sync.sync.AppDataContentProvider"
            android:authorities="com.quantimodo.sync.content-appdata"
            android:syncable="true"
            android:exported="false"
            android:label="Tracking apps" />

        <provider
            android:name="com.quantimodo.sync.databases.QuantiSyncContentProvider"
            android:authorities="com.quantimodo.sync.provider"
            android:exported="false" />

        <receiver android:name=".receivers.PackagesChangedReceiver">
            <intent-filter>
                <action android:name="android.intent.action.PACKAGE_ADDED" />
                <action android:name="android.intent.action.PACKAGE_REMOVED" />

                <data android:scheme="package" />
            </intent-filter>
        </receiver>
    </application>
</manifest>